body {
  margin: 0;
  padding: 0;
  padding: 20px;
  box-sizing: border-box;
  background-color: pink;
  background-image: url("./img/imgFondo.jpg");
  background-repeat: no-repeat;
  background-size: 1200px;
  background-position: center;
}
.titulo{
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  height: 100vh;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imput{
  border-radius: 10px;
  background-color: red;
}

.Button {
  border: 1px solid rgb(0, 174, 255);
  border-radius: 10px;
  background-color: rgb(0, 174, 255);
  width: 30%;
  display: flex;
  padding: 10px 15px;
  justify-content: space-between;
  margin-bottom: 1em;
}


form h1 {
  font-size: 1em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

button[type="submit"] {
  border: none;
  background-color: rgb(0, 174, 255);
  padding: 10px;
  border-radius: 1em;
  color: white;
}

input {
  padding: 10px 20px;
  width: 300px;
  border-radius: 1em;
  border: none;
}
